<%= form_for([@post, @comment]) do |f| %>
  <div class="form-group">
    <!-- <input type="text" class="form-control" rows="3"> -->
      <%= f.text_field :commenter, :class =>"form-control", :rows => "3" %>
    <!-- </input> -->
    <br>
    <!-- <textarea class="form-control" rows="3"> -->
      <%= f.text_area :body, :class =>"form-control", :rows => "3" %>
    <!-- </textarea> -->
  </div>
  <!-- <button type="submit" class="btn btn-primary">Submit  -->
    <%= f.submit "Submit", :class =>"btn btn-primary" %>
  <!-- </button> -->
<% end %>