<nav class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="pull-left">
      <a href="#">&copy; MyBlog.com 2014</a>
    </div><!-- navbar-header -->
    <div class="pull-right">
      <a href="#">Built on Ruby On Rails by CSG </a>
    </div><!-- navbar-header -->   
  </div><!-- /.container -->
</nav>